# Node dependencies
node_modules
dine_ease_frontend/node_modules
dine_ease_backend/node_modules

# build outputs
dist
build

# environment files - NEVER commit these!
.env
.env.local
.env.*.local
.env.production

